/* * {
	outline: 1px dotted grey;

} */

/* dont't include in index.html: */
.spacer {
	height: 180vh;
	background-color: beige;
}

.footer {
	height: 50%;
	background: black;
}
.navbar {
	background: var(--color-primary);

	position: fixed;
	top: 100%;
	margin-top: -100px;

	height: 100px;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	border-radius: 0px 0px 24px 24px;

	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.navbar-icon {
	height: 100px;
	color: var(--color-secondary);
	transition: color 0.5s;
	transition: fill 0.5s;
	
}
.navbar-icon:hover {
	padding: 20px;
	color: var(--color-secondary-light);
}

.qcard-bm {
	fill: var(--color-secondary);
	height: 90px;
}
.qcard-bm:hover {
	fill: var(--color-secondary-light);
}

.qcard-tag {
	height: 80px;
}
