.header-h1 {
	font-family: "Times New Roman", Times, serif;
	background-color: var(--color-primary);
	color: white;
	font: bolder;
	display: flex;
	justify-content: center;
	padding: 20px;
	align-items: center;
	margin: 0;
	border: dotted;
	border-radius: 24px 24px 0px 0px;
}
