:root {
	--color-primary: #027373;
	--color-secondary: #a6374b;
	--color-tertiary: #012626;
	--color-quaternary: #8c3503;
}
/**
 * Minimal Reset
 */
body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
